.slide__item {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;

  text-align: center;
}

.slide__item > .h1 {
  font-family: var(--heading);
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 0.35rem;
}

.slide__item > p {
  font-family: var(--room__regular);
  font-size: 0.9rem;
  line-height: 1.8rem;
  font-weight: bold;
}

button.rent__home {
  padding: 0.5rem 0.8rem;
  border: 2px solid #20c063;
  border-radius: 12px;
  background: #fff;
  margin-top: 1rem;
}

button.rent__home > a {
  font-family: var(--room__regular);
  color: #20c063;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}
