.category {
  /* size */
  width: 33.333%;
  height: 8.125rem;
  /* appearance */
  font-family: var(--banner-regular-two);
  font-size: var(--small__size);
  text-transform: capitalize;
  color: #000;
  background: #f8f8f8;
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border */
  border: 2px solid rgb(226, 225, 225);
}

.icon__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4.375rem;
  height: 3.125rem;
  overflow: hidden;
}

.title {
  padding-top: 0.5rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .category {
    width: 33.333%;
    height: 11.25rem;
  }
  .icon__wrapper {
    width: 6.25rem;
    height: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .category {
    width: 20%;
    height: 11rem;
  }
  .icon__wrapper {
    width: 6.25rem;
    height: 5rem;
  }
}
