.errorSearching {
  margin-top: 50px;
  text-align: center;
}

.errorSearching h2 {
  color: var(--brand__color);
}

.empty__gif__wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
}

.empty__gif__wrapper img {
  max-width: 100%;
  min-width: 100%;
}
