.featured__rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  background: var(--gray);
}

.featured__rooms h3 {
  font-family: var(--banner-regular-two);
  font-weight: 700;
  font-size: var(--medium__header);
  text-transform: capitalize;
  color: var(--black-color);
  align-self: flex-start;
  padding-left: 0.75rem;
}
.room__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .featured__rooms h3 {
    font-size: 1.75rem;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 1024px) {
  .room__list__destop {
    padding: 0 150px;
  }
}
