.footer {
}

.expand__footer__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0.5rem 0.75rem 0;
}

.expand__footer__button {
  outline: var(--brand__color);
  background: var(--gray);
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  border: 0.3px solid rgba(0, 0, 0, 0.2);
}

.footer__wrapper {
  transition: all 1s ease-in-out;
  overflow: hidden;
}
.footer__links__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright {
  text-align: center;
  background: var(--brand__color);
  padding: 1.25rem;
}
