.header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #20c063;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    border: 5px solid rgb(243, 5, 5);
    height: 100px;
  }
}
