/* gogle fonts import */
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&family=Fauna+One&family=Noto+Serif:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;500;600&display=swap");

/* variable declarartion */
:root {
  /* font family */
  --banner__regular: "Cardo", serif;
  --banner-regular-two: "Noto Serif", serif;
  --room__regular: "Fauna One", serif;
  --heading: "Oswald", sans-serif;
  --room__description: "Roboto Condensed", sans-serif;
  /* colors */
  --orange__brand: rgb(243, 108, 74);
  --red__brand: rgb(218, 8, 8);
  --brand__color: #20c063;
  --white: #fff;
  --black-color: #000;
  --slide__color: #f9f9fb;
  --gray: rgb(241, 239, 239);
  --gray__font__color: #6f6f75;

  /* font size */
  --small__size: 0.875rem;
  --medium__header: 1.25rem;
}

/* set html root font size and set overflow-x */
html {
  font-size: 16px;
  overflow-x: auto;
}
/* overide default styles */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  overflow: auto;
  background: var(--gray);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.page__background {
  margin-bottom: 3.125rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page__background {
    margin-bottom: 3.125rem;
    padding: 0 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .page__background {
    margin-bottom: 0rem;
  }
}
