.register__form__section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.625rem;
  font-family: var(--medium__header);
}

.register__form__article {
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.logo__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  overflow: hidden;
  border-radius: 10px;
  justify-self: flex-end;
  margin-left: auto;
  right: 0;
}

.logo__image img {
  max-width: 100%;
}

strong {
  font-size: 24px;
  line-height: 80px;
}
p {
  margin-top: 0.625rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #737373;
}
.login__email {
  margin-bottom: 1.875rem;
  margin-top: 1.25rem;
}

.login__password {
  margin-bottom: 1.875rem;
}

.login__button {
  margin-bottom: 0rem;
}

p.switch__state {
  text-align: center;
  margin-bottom: 1.875rem;
}

.error {
  color: red;
  font-size: 1rem;
}
