.header__wrapper {
  padding-bottom: 4rem;
}

.page__header {
  background: var(--white);
  width: 100%;
  padding: 0.625rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: var(--heading);
  font-family: var(--room__description);
  z-index: 10000000;
}
.title__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--brand__color);
}
.arrow__back__icon {
  background: var(--white);
  outline-color: var(--white);
  padding: 0.438rem 1.25rem 0;
}

.title__left > p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--brand__color);
}
.title__right > button {
  color: var(--red__brand);
  background: var(--white);
  outline-color: var(--white);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page__header {
    height: 80px;
  }
  .header__wrapper {
    padding-bottom: 7rem;
  }
}
