.single__room__wrapper {
  border: 0.5px solid rgb(171, 169, 169);
  overflow: hidden;
  margin-bottom: 1rem;
  height: 150px;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--room__description);
  border-radius: 5px;
}

.single_room__highlight {
  display: flex;
  height: 75%;
  width: 100%;
}

.single__room__image__container {
  width: 35%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.single__room__image__container img {
  min-width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
}

.Single__room__description {
  width: 65%;
  font-size: var(--small__size);
  text-align: left;
  color: var(--black-color);
  text-transform: capitalize;
  padding-left: 0.313rem;
  border-bottom: 0.5px solid rgb(171, 169, 169);
}

.single__room__title {
  font-size: 1rem;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.single__room__price {
  margin: 2px 0;
  color: var(--brand__color);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.02rem;
}

.single__room__price span {
  text-transform: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.single__room__location {
  font-size: 0.8rem;
  color: rgb(134, 134, 134);
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  font-family: var(--banner-regular-two);
}

.single__room__facilities {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.room__contact__detail {
  height: 25%;
}

.room__contact__detail {
  border-bottom: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.room__contact__detail button {
  justify-self: start;
  border-right: 1px solid red;
  text-align: left;
  width: 50%;
}
