.single__room__wrapper {
  border: 1px solid red;
  overflow: hidden;
  margin: 0.35rem;
  height: 150px;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--room__description);
}

.single_room__highlight {
  display: flex;
  height: 75%;
  width: 100%;
}

.single__room__image__container {
  width: 35%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.single__room__image__container img {
  min-width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
}

.Single__room__description {
  border: 2px solid rgb(115, 170, 115);
  width: 65%;
  /* font-family: var(--banner-regular); */
  /* font-family: var(----room__description); */
  font-size: var(--small__size);
  text-align: left;
  color: var(--black-color);
  text-transform: capitalize;
}

.single__room__title {
  font-size: 1.125em;
  text-overflow: ellipsis;
}

.single__room__price {
  margin: 0.3125rem 0;
  color: var(--brand__color);
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}

.single__room__price span {
  text-transform: none;
  font-weight: 500;
  font-size: 14px;
}

.room__contact__detail {
  height: 25%;
}

.single__room__facilities {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
