.single__room__wrapper {
  border: 1px solid red;
  overflow: hidden;
  margin: 0.35rem;
  height: 150px;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.single_room__highlight {
  display: flex;
  height: 75%;
  width: 100%;
}

.single__room__image__container {
  width: 35%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.single__room__image__container img {
  min-width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
}

.Single__room__description {
  border: 2px solid rgb(115, 170, 115);
  width: 65%;
  font-family: var(--banner-regular);
  font-size: var(--small__size);
  text-align: left;
  color: var(--black-color);
  background: rgb(241, 239, 239);
  /* transform: scaleY(1.03); */
}

.room__contact__detail {
  height: 25%;
}
