.profile__details {
  margin-top: -8px;
}

.profile__details nav {
  display: flex;
  justify-content: space-between;
}
.profile__details__article {
  margin-bottom: 100px;
}

.profile__details_btn {
  text-align: center;
  padding: 10px 50px;
  flex: 1;
  background: rgb(207, 203, 203);
  font-family: var(--room__description);
  /* font-size: 20px; */
  font-weight: 700;
  border: 0.5px solid rgb(179, 177, 177);
}

.underlineBtn {
  border-bottom: 3px solid var(--brand__color);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .profile__details {
    margin-top: -30px;
  }
  .profile__details__article {
    padding: 30px 60px;
  }
}
