.profile__details {
}

.profile__details nav {
  display: flex;
  justify-content: space-between;
}

.profile__details_btn {
  text-align: center;
  padding: 10px 50px;
  border-radius: 5px;
  background: rgb(207, 203, 203);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.underlineBtn {
  border-bottom: 3px solid var(--brand__color);
}
